@import "tailwindcss";

/* Detection for the toggle when it will be clicked */
@custom-variant dark (&:where(.dark, .dark *));

:root {
  --red-color: #c1121f;

  /* Light mode */
  --bg-light: #ffffff;
  --bg-light-gray: #f5f5f5;
  --light-primary: #0a0a0a;
  --light-secondary: #262626;
  --light-gray: #d4d4d4;
  --light-bg-card: #fafaff;

  /* Dark mode */
  --bg-dark: #000000;
  --bg-dark-gray: #0a0a0a;
  --dark-primary: #fafafa;
  --dark-secondary: #f5f5f5;
  --dark-gray: #d3d3d3;
  --dark-bg-card: #41424c;
}

@theme {
  --font-sans: var(--font-dm-sans), ui-sans-serif, system-ui;
  --color-red: var(--red-color);

  /* Light */
  --color-bg-light: var(--bg-light);
  --color-bg-light-gray: var(--bg-light-gray);
  --color-light-primary: var(--light-primary);
  --color-light-secondary: var(--light-secondary);
  --color-light-gray: var(--light-gray);
  --color-light-bg-card: var(--light-bg-card);
}

@layer base {
  .dark {
    /* Dark */
    --color-dark-bg: var(--bg-dark);
    --color-dark-bg-gray: var(--bg-dark-gray);
    --color-dark-primary: var(--dark-primary);
    --color-dark-secondary: var(--dark-secondary);
    --color-dark-gray: var(--dark-gray);
    --color-dark-bg-card: var(--dark-bg-card);
  }

  body {
    background-color: var(--color-app-bg);
    color: var(--color-app-text);
    font-family: var(--font-sans);
  }
}
