@import "tailwindcss";

/* 1. Detection for the toggle */
@custom-variant dark (&:where(.dark, .dark *));

:root {
  --red-color: #c1121f;

  /* Light hex codes */
  --light-bg: #ffffff;
  --light-bg-gray: #f5f5f5;
  --light-primary-text: #0a0a0a;
  --light-secondary-text: #262626;
  --light-foreground: #d3d1ce;
  --light-border: #d4d4d4;
  --border: #bddbbd;
  --light-card: #fafaff;

  /* Dark hex codes */
  --dark-bg: #000000;
  --dark-bg-gray: #0a0a0a;
  --dark-primary-text: #fafafa;
  --dark-secondary-text: #f5f5f5;
  --dark-foreground: #090f15;
  --border: #f0f0f0;
  --dark-border: #d3d3d3;
  --dark-card: #41424c;

  /* light text-main */
  --grad-start: #da1a32;
  --grad-end: #850302;
}

/*  Theme Mapping (The DEFAULT Mode) */
@theme {
  --font-sans: var(--font-dm-sans), ui-sans-serif, system-ui;
  --color-red-main: var(--red-color);

  /* Functional variables mapped to LIGHT by default */
  --color-app-bg: var(--light-bg);
  --color-app-bg-gray: var(--light-bg-gray);
  --color-primary: var(--light-primary-text);
  --color-secondary: var(--light-secondary-text);
  --color-foreground: var(--light-foreground);
  --color-gray-line: var(--light-border);
  --color-border-input: var(--border);
  --color-bg-card: var(--light-card);

  /* main text light */
  --color-gradient-from: var(--grad-start);
  --color-gradient-to: var(--grad-end);

  /* custom animation for hero section */
  --animate-hero-zoom: zoom-down linear both;
  --animate-content-reveal: content-reveal linear both;

  @keyframes zoom-down {
    0% {
      transform: scale(1.2);
    }
    100% {
      transform: scale(1);
    }
  }

  @keyframes content-reveal {
    0% {
      opacity: 1;
      transform: scale(1);
    }
    50% {
      opacity: 0.9;
      transform: scale(0.9);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }
}

@layer utilities {
  /* Hides scrollbar for the horizontal slider */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .scroll-zoom {
    animation: var(--animate-hero-zoom);
    animation-timeline: view(inline);
    animation-range: cover 0% cover 100%;
  }

  .scroll-reveal {
    animation: var(--animate-content-reveal);
    animation-timeline: view(inline);
    animation-range: cover 20% cover 80%;
  }
}

/*  Full Page Logic & Dark Overrides */
@layer base {
  .dark {
    /* Re-map the SAME functional variables to DARK hex codes */
    --color-app-bg: var(--dark-bg);
    --color-app-bg-gray: var(--dark-bg-gray);
    --color-primary: var(--dark-primary-text);
    --color-secondary: var(--dark-secondary-text);
    --color-foreground: var(--dark-foreground);
    --color-gray-line: var(--dark-border);
    --color-border-input: var(--dark-border);
    --color-bg-card: var(--dark-card);

    /* main text dark */
    --grad-start: #ff4d6d;
    --grad-end: #c9184a;
  }

  /*  Apply to Full Page */
  body {
    background-color: var(--color-app-bg);
    color: var(--color-primary);
    font-family: var(--font-sans);
    transition: background-color 0.2s ease, color 0.2s ease;
    min-height: 100vh;
    @apply antialiased;
  }

  .text-gradient-main {
    background: linear-gradient(135deg, var(--grad-start), var(--grad-end));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
    r: transparent;
  }
}
